body{
    background: #4763b6;
}
.Game{
    height: 100vh;
    display: flex;
    background: #191919;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;

    &__container{
        text-align: center;
        width: 75vw;
        margin: 0 auto;
    }

    &__imgContainer{

    }
    &__title{
        font-family: "Oswald-SemiBold";
        font-size: 37px;
    }
    &__text{
        margin-top: 50px;
        font-family: "Quattrocento-regular";
        font-size: 16px;
        line-height: 24px;
    }
    &__btn{
        margin-top: 50px;
    }
    &__img{
        height: 350px;
    }
    &__mainMenu{
        position: absolute;
    }
}
.Output{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__txt{
        overflow: auto;
        height: 150px;
        font-family: "Quattrocento-regular";
        font-size: 16px;
        text-align: center;
        line-height: 24px;
    }
    &__renderedText{
        margin-top: 25px;
        opacity: 0;
        transform: translateY(50px);
        transition: all ease-out .2s;
    }
    &__btnsContainer{
        height: 40px;
        margin-top: 25px;
    }
    &__btn{
        color: #ffffff;
        width: 226px;
        height: 40px;
        border-radius: 0;
        border: solid 1px #666666;
        background: none;
        font-family: "Oswald-Regular";
        font-size: 16px;
    }
    
}
.--visible{
    opacity: 1;
    transform: translateY(0);
}